src/*.exe
src/xyy
src/xyyd
src/test_xyy
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.xyy

# Compilation and Qt preprocessor part
*.qm
Makefile
xyy-qt
xyy-Qt.app

# Unit-tests
Makefile.test
xyy-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
